# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_sweep_DONGLE

config ZMK_KEYBOARD_NAME
	default "sweep Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_sweep_LEFT || SHIELD_sweep_RIGHT || SHIELD_sweep_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif
