# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_ZMK_EXT_POWER=y

if SHIELD_CRADIO_RIGHT

config ZMK_KEYBOARD_NAME
    default "cradio-tp"

config ZMK_SPLIT_ROLE_CENTRAL=y

endif

if SHIELD_CRADIO_LEFT

config ZMK_SPLIT_ROLE_CENTRAL=n

endif

if SHIELD_CRADIO_LEFT || SHIELD_CRADIO_RIGHT

config ZMK_SPLIT
    default y

endif
